div[data-angular-treeview] {
	/* prevent user selection */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* default */
	/*font-family: Tahoma; 
  font-size:13px;*/
	color: #555;
	text-decoration: none;
}

div[data-tree-model] ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	overflow: hidden;
}

div[data-tree-model] li {
	position: relative;
	padding: 0 0 0 20px;
	line-height: 20px;
}

div[data-tree-model] li .expanded {
	padding: 1px 10px;
	/*   background-image: url("../img/folder.png"); */
	background-image: url("../img/folder.png");
	background-size: 12px 12px;
	background-repeat: no-repeat;
}

div[data-tree-model] li .collapsed {
	padding: 1px 10px;
	/* 	  background-image: url("../img/folder-closed.png"); */
	background-image: url("../img/folder-closed.png");
	background-size: 12px 12px;
	background-repeat: no-repeat;
}

div[data-tree-model] li .normal {
	padding: 1px 10px;
	/* 	background-image: url("../img/file.png"); */
	background-image: url("../img/file.png");
	background-size: 10px 10px;
	background-repeat: no-repeat;
}

div[data-tree-model] li i,div[data-tree-model] li span {
	cursor: pointer;
}

div[data-tree-model] li .selected {
	background-color: #aaddff;
	font-weight: bold;
	padding: 1px 5px;
}