@charset "UTF-8";
.panel-inverse-color {
    border: solid 5px #2fa4e7;
    background: white;
    color: #2fa4e7;
    font-weight: bold;
}

.example-opacity {
    opacity: 0.5;
}

.glyphicon-large {
    min-height: 260px;
    line-height: 260px;
    font-size: 35px;
    width: 1em;
    display: block;
    margin: -0.5em auto 0px;
}

.glyph-Column {
    border: 1px solid grey;
}

.home-p1 {
    font-size: 80px;
    font-weight: bold;
}

.home-p2 {
    font-size: 45px;
}

.home-p3 {
    font-size: 20px;
}

.home-img {
    max-height: 300px;
    /* 	width: 100%; */
    margin: 5%;
}

.home-page-icons {
    width: 96px;
}

.sidenav-map {
    /* 	width: 100%; */
    /* height: 100%; */
    width: 100px;
    height: 100px;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 600px !important;
}

.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

body,
textarea {
    font: 14px arial;
}

html,
body {
    height: 100%;
    overflow: auto;
}

input {
    height: 13px;
}

form.centered {
    position: relative;
    top: 35%;
}


/* td { */


/* 	text-align:center;  */


/*     vertical-align:middle; */


/* } */

select.reduce {
    width: 105px;
    height: 20px;
}

.highlight {
    font-weight: bold;
    color: green;
}

.tab1mainconcepts:hover {
    cursor: pointer;
    color: blue;
}

a.clickable:hover {
    cursor: pointer;
    color: blue;
}

#tab2querylineA {
    float: left;
    margin-left: 5px;
    /*margin-top:5px;*/
}

#tab2querylineB {
    float: left;
    margin-left: 55px;
}

#tab2queryselector {
    float: rigth;
}

#query-type .selected {
    font-weight: bold;
    /*border-bottom:1px solid white;
	border-top: 1px solid black;
	/*border-left: 1px solid black;*/
    /*border-right: 1px solid black;*/
    /*padding-left:2px;
	padding-right:2px;*/
}

#query-type .noselected {
    font-weight: normal;
    /*border-top: 1px solid black;*/
    /*border-left: 1px solid black;*/
    /*border-right: 1px solid black;*/
    /*padding-left:2px;
	padding-right:2px;*/
}

#query-type a {
    text-decoration: none;
}

#query-type a:hover {
    font-weight: bold;
    text-decoration: none;
    /*background-color: #DDD;*/
}

#specificqueries {
    width: 45%;
    /*height:74%;*/
    height: 97%;
    float: left;
}

#query-type {
    height: 3.3%;
    background-color: white;
    white-space: nowrap;
}

#querytab {
    float: left;
    align: top;
    height: 97%;
    width: 100%;
    /*width:38%;
	height:72%;*/
    bottom: 0;
    border-style: solid;
    border-width: thin;
}

#tabIndicators {
    display: none;
    height: 100%;
    overflow: auto;
}

#tab15 {
    display: none;
    height: 100%;
}

#tab2 {
    display: none;
    height: 100%;
}

#tab3 {
    display: none;
    height: 100%;
}

#tab2concepts {
    height: 50%;
}

#tab15concepts {
    height: 300px;
    margin: 0px 0px 15px 0px;
}

#tab15class {
    /*padding-top:10px;
	padding-left:5px;*/
    height: 100%;
    /* 	width: 30%; */
    float: left;
    /* 	border-right: 1px solid black; */
}

#tab15related {
    /*padding-left:5px;*/
    float: right;
    /* 	width: 68.8%; */
    height: 100%;
    overflow: auto;
}

#tab15search {
    /*padding-left:5px;
	padding-top:10px;*/
    height: 10%;
    border-top: 1px solid black;
    white-space: nowrap;
    overflow: auto;
    margin: 10px 0px 0px 0px;
}

#tab15results {
    height: 250px;
    /* 	border-top: 1px solid black; */
    overflow: auto;
}

#tab15relclass {
    padding-top: 10px;
    float: left;
    width: 55%;
    height: 100%;
    /*overflow:auto;*/
}

#tab15relprop {
    float: right;
    width: 40%;
    height: 100%;
    margin-left: 5px;
}

#tab15proplist {
    height: 92.5%;
    /*overflow:auto;*/
    white-space: nowrap;
}

#tab15propbutton {
    /*margin-top:3px;*/
}

#tab2class {
    /*padding-top:10px;
	margin-left:5px;*/
    height: 100%;
    width: 30%;
    float: left;
    border-right: 1px solid black;
    overflow: auto;
}

#tab2inst {
    /*padding-left:5px;
	padding-top:10px;*/
    float: right;
    width: 68.8%;
    height: 100%;
    overflow: auto;
}

#tab2query {
    float: left;
    height: 30%;
    width: 100%;
    border-top: 1px solid black;
    overflow: auto;
}

#tab2queryresult {
    /*margin-top:1px;
	margin-left:2px;*/
    height: 18.5%;
    width: 100%;
    float: left;
    border-top: 1px solid black;
    border-right: 1px solid black;
    overflow: auto;
}

#tab2querylines {
    display: inline-block;
    float: left;
    width: 80%;
    /*height:100%;*/
}

#tab2querynextline {
    padding-top: 1px;
}

#tab2querynext {
    float: left;
    width: 0%;
    /*height:100%;*/
}

#tab1Search {
    height: 50px;
    border-top: 1px solid black;
    overflow: auto;
    position: relative;
}

#tab1SearchContent {
    bottom: 1%;
    /*padding-bottom:1px;*/
    position: absolute;
    margin-left: 5px;
}

#tab1Concepts {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: auto;
    height: 750px;
    max-height: 650px;
}

.tab1mainconcepts {
    font-weight: bold;
    font-size: 120%;
    display: inline;
}

li.selected {
    font-style: italic;
    color: blue;
}

li.noselected {
    font-style: normal;
    color: black;
}

a.selected {
    font-weight: bold;
}

a.noselected {
    font-weight: normal;
}


/* #tab1Concepts.selected { */


/* 	font-weight: italic; */


/* } */


/* #tab1Concepts .noselected { */


/* 	font-weight: normal; */


/* } */

#query {
    float: left;
    float: bottom;
    width: 100%;
    /*height:20vh;*/
    height: 100%;
    /*background-color:#b0e0e6;*/
    background-color: #DDD;
    /*border-style:solid;
	border-width:thin;*/
    overflow: auto;
}

#log-container {
    border: 2px solid #269abc;
    border-radius: 4px;
    margin: 10px 0px 10px 0px;
}

#log-style {
    height: 100px;
    width: 100%;
    margin: 5px 0px 0px 0px;
    overflow: auto;
}

#result {
    margin: initial;
    padding: 0px 10px 5px 10px;
}

#dquery-results {
    margin-top: 10px;
}

.concept-result-active {
    color: #333;
    background-color: #D6FFD6;
    border: 2px solid green;
    border-radius: 4px;
}

.concept-result-nonactive {
    background-color: white;
    border: 2px solid grey;
    border-radius: 4px;
}

.concept-result {
    margin: 4px 8px 4px 0;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

.md-dialog-container {
    z-index: 2000;
}

.gridStyleIndicators {
    /* 	border: 1px solid black; */
    /* 	width: 500px; */
    /* 	height: 500px; */
    width: auto;
    height: auto;
    /* 	width: 900px; */
    /* 	height: 500px; */
    /* 	max-width: 900px; */
    /* 	height: 100%; */
    /* table align in the center
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	*/
}

.gridStyleIndicatorsHierarchy {
    /* 	border: 1px solid black; */
    /* 	width: 500px; */
    /* 	height: 500px; */
    width: auto;
    height: auto;
    /* 	max-width: 900px; */
    /* 	height: 100%; */
    /* table align in the center
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	*/
}

.tabcontent {
    height: 600px;
    overflow: auto;
}

.OLMap {
    z-index: 1;
    position: relative;
    height: 600px;
    width: 100%;
}

.showMap {
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
}

.applogo {
    z-index: -1;
    position: absolute;
    left: 0px;
    top: -5px;
    z-index: -1;
}

.applogo-navbar {
    padding: 5px 5px 5px 0px;
    height: 48px;
}

.hierarchy {
    height: 600px;
    overflow: auto;
}

.scollIndicators {
    height: 600px;
    overflow: auto;
    padding-top: 15px;
}

.clusteringScroll {
    height: 200px;
    overflow: auto;
}


/*Data-query selects for concept relations*/

#form-relations {
    width: 200px;
    margin: 4px 0 4px 0;
}

.mynetwork {
    border: 2px solid #269abc;
    border-radius: 4px;
    padding: 4px 0 4px 0;
    height: 500px;
    /* 	margin: 4px 0 4px 0; */
}

.form-control-inline {
    width: 50px;
}

#network-popUp {
    display: block;
    position: absolute;
    top: 350px;
    left: 170px;
    z-index: 299;
    /* 	width: 250px; */
    /* 	height: 150px; */
    background-color: #f9f9f9;
    border-style: solid;
    border-width: 3px;
    border-color: #5394ed;
    padding: 10px;
    text-align: center;
}


/* .showQueryResults,th,tr,td { */

.showQueryResults {
    border: 1px solid black;
    padding: 5px;
}

#addLink {
    margin: 0px 0px 10px 0px;
}

#xxx {
    /* 	padding: 10px 10px 10px 10px; */
}

#area-admin {
    padding: 10px 10px 10px 10px;
    overflow: hidden;
}

.maintab-content {
    /* 	height: inherit; */
    padding: 20px 20px;
    /* 	overflow: auto; */
    height: 700px;
}


/* .tab-content { */


/* 	height: inherit; */


/* 	padding: 20px 20px; */


/* 	overflow: auto; */


/* 		height: 700px; */


/* } */

.addsubsuperclass {
    font-size: 12px;
    color: #428bca;
}

#area-admin-search-concepts {}

#map {
    /* 	width: 600px; */
    /* 	height: 700px; */
    /* 	height: 100%; */
    /* 	width: 100%; */
    border-style: solid;
    border-width: thin;
    border-style: solid;
}


/* #map-dialog { */


/* 	height: auto; */


/* 	width: auto; */


/* } */

#todo {
    width: 90%;
    height: 98%;
    margin: 10px auto;
}


/* #tab1Button { */


/* 	margin-left:auto; */


/* 	margin-right:auto; */


/* 	padding-left:30%; */


/* } */

.sparqlCaption {
    font-weight: bold;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}


/* .sparqlQuery { */


/*     float: left; */


/* } */

.buttonQuery {
    float: bottom;
    padding-top: 10%;
    padding-left: 40%;
}

#tab2buttonQuery {
    float: left;
    padding-left: 40%;
    padding-top: 20px;
}

#sparqlQuery {
    width: 95%;
    overflow: auto;
    height: 25%;
    margin-left: 2%;
}

#sparqlPrefixes {
    width: 95%;
    overflow: auto;
    height: 15%;
    margin-left: 2%;
}

#sparqlResults {
    width: 95%;
    height: 35%;
    margin-left: 2%;
    overflow: auto;
    border: 1px solid black;
    background-color: white;
}

.styled-select select {
    border: 0;
    background: transparent;
    font: 14px arial;
    /*height: 18px;
   /*border: 1;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border-radius: 0;
   -webkit-appearance: none;*/
}

.styled-select {
    display: inline-block;
    /*    width: 240px; */
    /*    height: 25px; */
    /*    overflow: hidden; */
    /*    background: url(new_arrow.png) no-repeat right #ddd; */
    /*    border: 1px solid #ccc; */
}

.green {
    background-color: green;
    color: white;
}


/* #tab2instlist{ */


/* 	/*padding-top:10px;*/

* /
/* 	float:left; */


/* 	width: 40%; */


/* 	height: 100%; */


/* 	/*overflow:auto;*/

* /
/* } */


/* #tab2instprop{ */


/* 	float:right; */


/* 	width: 55%;	 */


/* 	height: 100%; */


/* 	margin-left:5px; */


/* } */


/* #tab2instpropbutton{ */


/* 	/*margin-top:3px; */

* /
/* } */


/* #tab2instproplist{ */


/* 	/*height: 100%; */


/* 	overflow:auto;  */


/* 	white-space: nowrap;*/

* /
/* } */
