<?xml version="1.0" encoding="UTF-8" ?>
<!--%@page
	import="smartcities.semanticweb.ontologycommons.services.ServiceInterface"%>
	<%@ page
	language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%-->
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Semantic Urban Model</title>
	<!-- JS resources -->
	<script src="lib-js/json2.js"></script>
	<script src="lib-js/OpenLayers/lib/OpenLayers.js"></script>
	<script src="lib-js/utils.js"></script>
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script-->

	<!-- jQueryUI -->
	<link rel="stylesheet"
		href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
	<!-- jQueryUploader -->
	<script src="lib-js/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
	<script src="lib-js/jquery-file-upload/js/jquery.iframe-transport.js"></script>
	<script src="lib-js/jquery-file-upload/js/jquery.fileupload.js"></script>
	<!-- jQueryDialogExtend -->
	<script src="lib-js/jquery-plugins/jquery.dialogextend.min.js"></script>
	<!-- Leaflet -->
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
	<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
	<!-- The angularjs lib & extensions -->
	<!-- <script src="http://code.angularjs.org/snapshot/angular.js"></script> -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
	<script src="lib-js/svg-assets-cache.js"></script>

	<!-- Angular Material style sheet -->
	<script src="lib-js/angular.treeview/angular.treeview.js"></script>
	<!-- BootStrap js lib -->
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js"></script>
	<!-- The vis.js graphs's library -->
	<script src="lib-js/vis.js/dist/vis.js"></script>
	<!-- CSS resources -->
	<link rel="stylesheet" type="text/css" href="master.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="lib-js/angular.treeview/css/angular.treeview.css">
	<link rel="stylesheet" type="text/css" href="lib-js/vis.js/dist/vis.css">
	<!-- Font-Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!-- /CSS resources -->
	<!-- jQuery plugin - jstree -->
	<link rel="stylesheet" href="lib-js/jquery-plugins/jstree-3.0.9/dist/themes/default/style.min.css" />
	<script src="lib-js/jquery-plugins/jstree-3.0.9/dist/jstree.min.js"></script>
	<!-- angularjs app -->
	<script src="modules/ws.js"></script>
	<script src="modules/queryManager.js"></script>
	<script src="modules/queryTab.js"></script>
	<script src="modules/queryGraph.js"></script>
	<script src="modules/tabIndicators.js"></script>
	<script src="modules/map.js"></script>
	<script src="modules/log.js"></script>
	<script src="modules/urbanConcepts.js"></script>
	<script src="modules/navBarViewer.js"></script>
	<script src="result.js"></script>
	<script src="myApp.js"></script>
	<!-- The angularjs.ng-grid lib -->
	<!-- 	<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script> -->
	<!-- 	<link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" type="text/css" /> -->
	<script src="lib-js/ng-grid-3.x/ui-grid.js"></script>
	<link rel="stylesheet" href="lib-js/ng-grid-3.x/ui-grid.css" type="text/css" />
	<base href="/UrbanPrototype/app/">
</head>

<body ng-app="smartCitiesApp" ng-controller="myAppCtrl" onload="AjaxGetLabelTable();"
	onunload="mapClean();cleanPopup()">
	<div id="todo">
		<div id="my-nav-bar" ng-controller="MainCtrl as main">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- 					<a href="Home/StepByStep"><img alt="Brand" class="applogo-navbar" ng-src="img/logo_sumecology.png"></a> -->
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li ng-class="{ 'active': $index == navmenu.selected }" ng-repeat="item in navmenu.values">
								<a href="Home/StepByStep" ng-show="$index == 0" ng-style="{padding:'0px 0px'}">
									<img alt="Brand" class="applogo-navbar" ng-src="img/logo_sumecology.png">
								</a>
								<a href="{{item.href}}" ng-show="$index != 0"
									ng-click="navmenu.selected = $index">{{item.label}}</a>
							</li>
						</ul>
						<!--                                    <ul class="nav navbar-nav navbar-right" style="vertical-align: middle"><li><a ng-click="toggleMap();" ng-hide="mapVisible" ng-disable="navmenu.selected == 0"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> View Map</a><a ng-click="toggleMap();" ng-show="mapVisible" ng-disable="navmenu.selected == 0"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> Hide Map</a></li></ul>-->
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
			<div class="row">
				<div
					ng-class="{'col-lg-12': (navmenu.selected == 0 || (!mapVisible && navmenu.selected == 2)), 'col-lg-6': (navmenu.selected > 0)} ">
					<ng-view></ng-view>
				</div>
				<div ng-class="{'col-lg-6':(navmenu.selected != 0)}" ng-show="navmenu.selected != 0">
					<div class="panel panel-primary">
						<div class="panel-heading"
							ng-style="{'border':'solid 2px #2fa4e7', 'border-radius': '5px', 'background': 'white', color:'#2fa4e7', 'font-weight':'bold'}">
							<div class="row">
								<div class="col-lg-6">
									<div>
										<!--<b>Map</b>-->
										<div ng-click="toggleMap();" ng-hide="mapVisible">Query</div>
										<div ng-click="toggleMap();" ng-show="mapVisible">Map</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="pull-right">
										<div ng-click="toggleMap();" ng-hide="mapVisible"
											ng-disable="navmenu.selected == 0">
											<!--<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>-->
											<img src="img/maps-icon.png" width="16px" alt="Map View"
												ng-style="{position: relative}">
											<zzzz>View Map</zzzz>
										</div>
										<div ng-click="toggleMap();" ng-show="mapVisible"
											ng-disable="navmenu.selected == 0">
											<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> Hide
											Map

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div ng-show="navmenu.selected > 0" class="myslide">
								<openlayers-map></openlayers-map>
							</div>
							<div ng-controller="queryGraphCtrl">
								<visjs-network
									ng-show="navmenu.selected == 1 && !mapVisible && ((F_QMGraph.nDS.get().length > 0) || areasimworkingwith.values.length > 0)"
									ng-click="F_QMGraph.example.isExample=false;"></visjs-network>
								<div
									ng-show="navmenu.selected == 1 && !mapVisible && ((F_QMGraph.nDS.get().length <= 0) || areasimworkingwith.values.length <= 0) && F_QMGraph.example.isExample=='loading';">
									<div ng-style="{'margin-top':'10%'}">
										<p class="text-center"
											ng-style="{'font-size': '300%', 'color':'#317eac', 'font-weight': bold}">
											Thinking of a query...</p>
									</div>
									<div>
										<p class="text-center">
											<img src="img/loading.svg" width="50%">
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Log Containter -->
		<div id="log-container" ng-hide="true">
			<label style="padding: 5px 5px 0px 5px">Log:</label>
			<div id="log-style">
				<div id="result" class="row"></div>
			</div>
		</div>
		<!-- /Log Containter -->
	</div>
</body>

</html>