

<div id="specificqueries">
	<!-- Tabs -->
	<div id="query-type">
		<a id="tab1_queryselected" class='selected' onclick="SelectTab(this);"
			style="cursor: pointer; cursor: hand;">&nbsp;Urban-Concepts&nbsp;</a>
		<a id="tabIndicators_queryselected" class='noselected'
			onclick="SelectTab(this);" style="cursor: pointer; cursor: hand;">&nbsp;Indicators&nbsp;</a>
		<a id="tab15_queryselected" class='noselected'
			onclick="SelectTab(this);" style="cursor: pointer; cursor: hand;">&nbsp;Related-Concepts&nbsp;</a>
		<a id="tab2_queryselected" class='noselected'
			onclick="SelectTab(this);" style="cursor: pointer; cursor: hand;">&nbsp;Data-Query&nbsp;</a>
		<a id="tab3_queryselected" class='noselected'
			onclick="SelectTab(this);" style="cursor: pointer; cursor: hand;">&nbsp;Sparql-Query&nbsp;</a>
	</div>
	<!-- /Tabs -->
	<!-- Tab-Content -->
	<div id='querytab'>
		<!-- UrbanConcepts -->
		<div id="tab1">
			<!-- UrbanConcepts.Hierarchy -->
			<div id="tab1Concepts">
				<form onsubmit="return false;" id="tab1ConceptsForm">
					<!-- WebInterface.HtmlHierarchy(out,ServiceInterface.GetUrbanPlanningPerspectiveConcepts()); -->
				</form>
			</div>
			<!-- /UrbanConcepts.Hierarchy -->
			<!-- UrbanConcepts.Search -->
			<div id="tab1Search">
				<div id="tab1SearchContent">
					<form onsubmit="return false;">
						Search concepts: <input type="text" id="tab1inputsearch" />
						<button type="button" onclick="tab1SearchConcepts()">Submit</button>
						<button type="button" onclick="ExpandTree()">Expand Tree</button>
						<button type="button" onclick="CloseTree()">Close Tree</button>
						<!-- <button type="button" onclick="tab15ClearSelection()">Clear Selection</button>  -->
					</form>
				</div>
			</div>
			<!-- /UrbanConcepts.Search -->
		</div>
		<!-- /UrbanConcepts -->
		<!-- Indicators -->
		<div id="tabIndicators"></div>
		<!-- /Indicators -->
		<!-- Related-Concepts -->
		<div id="tab15">
			<div id="tab15concepts">
				<div id="tab15class"></div>
				<div id="tab15related">
					<!-- <div id="tab15relclass"> -->
					<!-- <strong>Related Classes</strong> -->
					<!-- </div> -->
					<!-- <div id="tab15relprop"> -->
					<!-- <div id="tab15propbutton"> -->
					<!-- 	<select class='reduce' id='tab15select' onchange="AjaxGetRelatedConcepts()"> -->
					<!-- 	<option value='all'>All</option> -->
					<!-- 	<option value='ass'>Associated to</option> -->
					<!-- 	<option value='dagg'>Has aggregate member</option> -->
					<!-- 	<option value='iagg'>Aggregate member of</option> -->
					<!-- 	<option value='datt'>Has attribute</option> -->
					<!-- 	<option value='iatt'>Attribute of</option> -->
					<!-- 	</select> -->
					<!-- </div> -->
					<!-- <div id="tab15proplist"></div> -->
					<!-- </div> -->

				</div>
			</div>
			<div id="tab15search">
				<!-- <div class='sparqlCaption'> -->
				<!-- Search Properties -->
				<!-- </div> -->
				<form class='centered' onsubmit="return false;">
					Search properties: <input type="text" id="tab15inputsearch" />
					<button type="button" onclick="AjaxGetMatchProperties()">Submit</button>
					<!-- <button type="button" onclick="tab15ClearSelection()">Clear Selection</button> -->
				</form>
			</div>
			<div id="tab15results">
				<div class='sparqlCaption'>Properties that match</div>
			</div>
		</div>
		<!-- /Related-Concepts -->
		<!-- Data-Query -->
		<div id="tab2">
			<div id="tab2concepts">

				<div id="tab2class"></div>

				<div id="tab2inst">
					<!-- <div id="tab2instlist">
<!-- <strong>Instances</strong> 
</div>
<div id="tab2instprop">
<div id="tab2instpropbutton"></div>
<div id="tab2instproplist"></div> -->

				</div>
			</div>
			<div id="tab2query">
				<div class='sparqlCaption'>Query Wizard</div>
				<div id="tab2querylines"></div>
				<div id="tab2querynext"></div>
			</div>
			<div id="tab2queryresult">
				<div class='sparqlCaption'>Query Results</div>
			</div>
		</div>
		<!-- /Data-Query -->
		<!-- Sparql-Query -->
		<div id="tab3">
			<div id='query'>

				<div class='sparqlCaption'>SPARQL Query</div>

				<textarea id='sparqlQuery'></textarea>
				<br />
				<div class='sparqlCaption'>SPARQL Prefixes</div>

				<textarea id='sparqlPrefixes'></textarea>

				<div class='sparqlCaption'>SPARQL Results</div>

				<div id='sparqlResults'></div>


				<div class='buttonQuery'>
					<button type="button" onclick="AjaxQueryResults()">Submit</button>
				</div>

			</div>
		</div>
		<!-- /Sparql-Query -->
	</div>
	<!-- /Tab-Content -->
</div>
