<tabset> <tab heading="Urban-Concepts" id="tab1_queryselected">
<div ng-include src="'tab-urban-concepts.html'"></div>
</tab> <tab heading="Indicators" id="tabIndicators_queryselected" select="updateIndicators()">
<div ng-include src="'tab-indicators.html'" ng-controller="IndicatorsCtrl"></div>
</tab> <tab heading="Related-Concepts" id="tab15_queryselected" onclick="SelectTab(this);" style="">
<div ng-include src="'tab-related-concepts.html'"></div>
</tab> <tab heading="Data-Query" id="tab2_queryselected">
<div ng-include src="'tab-data-query.html'"></div>
</tab> <tab heading="Sparql-Query" id="tab3_queryselected">
<div ng-include src="'tab-sparql-query.html'"></div>
</tab> </tabset>


<!-- <a id="tab15_queryselected" class="noselected" onclick="SelectTab(this);" style="cursor: pointer; cursor: hand;">&nbsp;Related-Concepts&nbsp;</a> -->

