<!-- Indicators -->
<div class="row">
	<div class="col-md-2 scollIndicators">
		<tabset vertical="true" type="pills"> <tab heading="{{ac}}" ng-repeat="ac in getAC()"
			select="showACIndicators(ac)"></tab> </tabset>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-12">
				<div class="gridStyleIndicators" style="margin: 10px 0;" ui-grid="gridOptionsIndicators" ui-grid-edit
					ui-grid-selection></div>
			</div>
		</div>
		<span></span>
	</div>
</div>

<!-- /Indicators -->