<!-- UrbanConcepts -->
<!-- div id="tab1" class="row"-->
<!-- jstree -->
<div ng-controller="uCController">
	<div class="row" style="padding: 20px">
		<div class="col-lg-2">
			<input id="jstreeUCSearchInput" class="form-control" placeholder="Search Concept..."></input>
		</div>

		<div id="jstreeUrbanConcepts" ng-controller="uCJsTreeController"></div>
	</div>
	<div ng-controller="loadDataOntoOLCtrl">
		<div class="row">
			<button type="button" class="btn btn-default col-sm-1" ng-click="loadDataOnClick();doTheQuery();">Load Data</button>
			<button type="button" class="btn btn-default col-sm-1" ng-click="bindUCToGraph();">Bind To DQ</button>
		</div>
		<!-- Datos de los conceptos cargados en el mapa -->
		<div class="row" ng-show="queries.urbanconcepts.selected != undefined">
			<div>
				<label>Total Results: {{queries.urbanconcepts[queries.urbanconcepts["selected"]].bigTotalItems[0]}}</label>
			</div>

			<div class="col-md-3">
				<table class="showQueryResults">
					<thead>
						<tr>
							<th class="showQueryResults" ng-repeat="k in sg" ng-hide="nDS.get(k).label == undefined">{{nDS.get(k).label}}
								<select id="form-relations" class="form-control input-sm" ng-model="colToShow[k]"
								ng-options="property.label for property in propertyLabels[k]" ng-change="updateGraphDataValues(k)">
							</select>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="showQueryResults" ng-repeat="k in sg" ng-hide="nDS.get(k).label == undefined">
								<div class="form-inline">
									<select id="form-relations" class="form-control input-sm" ng-model="resourceChoosen[k]">
										<option ng-repeat="r in resourceToChoose" value="{{r}}" ng-disabled="(r == 'Range') && isNaN(rows[0][k])">
											{{r}}</option>
									</select> <input class="form-control" ng-model="searchText[k].text" ng-show="resourceChoosen[k] == 'Contains'">
									<form class="form-inline">
										<input class="form-control" ng-model="searchText[k].min" ng-show="resourceChoosen[k] == 'Range'"> <input
											class="form-control" ng-model="searchText[k].max" ng-show="resourceChoosen[k] == 'Range'">
									</form>
								</div>
							</td>
						</tr>
						<tr ng-repeat="r in rows">
							<td class="showQueryResults" ng-repeat="col in sg" ng-hide="nDS.get(col).label == undefined">{{r[col]}}</td>
						</tr>
						<label>Calculus</label>
						<tr>

							<td class="showQueryResults" ng-repeat="k in sg" ng-hide="nDS.get(k).label == undefined"><select
								id="form-relations" class="form-control input-sm" ng-model="calculusChoosen[k]" ng-change="updateCalculus()">
									<option ng-repeat="r in calculusToChoose " value="{{r}}" ng-disabled="r != 'Count' && isNaN(rows[0][k])">
										{{r}}</option>
							</select> <span>{{calculusResult[k]}}</span></td>
						</tr>

					</tbody>
				</table>
				<pagination id="paginX" total-items="bigTotalItems[$index]" ng-change="pageChanged()"
					items-per-page="rowsPerPage[$index]" ng-model="currentPage[$index]" max-size="maxPagesOffer[$index]"
					class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages[$index]"></pagination>
				<a href="{{csvLinks[sg]}}" ng-click="exportTable(sg)">Download CSV</a>
			</div>
		</div>
		<!-- End Data -->
	</div>
</div>
<!-- /jstree -->
<!-- <div class="row"> -->
<!-- 	<div id="area-admin" class="col-md-6"> -->
<!-- UrbanConcepts.Search -->
<!-- 		<div id="area-admin-search-concepts"> -->
<!-- 			<form onsubmit="return false;" class="form-inline"> -->
<!-- 				Search concepts: <input type="text" id="tab1inputsearch" class="form-control" ng-model="conceptsSearch" /> -->
<!-- 				<button type="button" class="form-control" onclick="c()">Close Tree</button> -->
<!-- 				<button type="button" onclick="tab15ClearSelection()">Clear Selection</button>  -->
<!-- 			</form> -->
<!-- 		</div> -->
<!-- /UrbanConcepts.Search -->
<!-- UrbanConcepts.Loaded-Concepts
<!-- 		<div ng-controller="LoadedConceptsCtrl"> -->
<!-- 			<h4>Concepts Loaded</h4> -->
<!-- 				<button popover-placement="top" popover="{{c}}" -->
<!-- 					class="btn btn-default" ng-repeat="c in conceptsLoaded">{{c}}</button> -->
<!-- 		</div> -->

<!-- UrbanConcepts.Hierarchy -->
<!-- 		<div id="tab1Concepts"> -->
<!-- 			<form onsubmit="return false;" id="tab1ConceptsForm" ng-controller="urbanConceptsCtrl"> -->
<!-- 				WebInterface.HtmlHierarchy(out,ServiceInterface.GetUrbanPlanningPerspectiveConcepts()); -->
<!-- 			</form> -->
<!-- 		</div> -->
<!-- /UrbanConcepts.Hierarchy -->
<!-- 	</div> -->
<!-- </div> -->
<!-- /UrbanConcepts -->
<!-- <div id="mynetworkX" class="mynetwork"></div> -->