<!-- Data-Query -->
<div id="tab-dquery" ng-controller="dQueryController">

    <div class="row">
        <div class="col-md-12" ng-style="{margin:'5px 0px'}">
            <h4>Query Graph</h4>
            <div id="dquery-graph">
                <!-- 							<label class="col-md-2 btn btn-default showMap" ng-click=bindUCToGraph()> -->
                <!-- 								Bind UC & DQ</label> -->
                <!-- 							<div ng-class="{mynetwork: (nDS.getIds().length > 0),}" id="mynetwork"></div> -->
                <!-- 							<div id="mynetwork"></div> -->
                <!-- 							<visjs-network></visjs-network> -->
                <!-- 							<div ng-controller="visNetworkGraph"> -->
                <!-- 								<div id="mynetworkX" class="mynetwork"></div> -->
                <!-- 							</div> -->
            </div>
        </div>
    </div>
    <div class="row text-center">
        <button class="btn btn-primary addLink btn-lg" ng-click="searchQuery()" ng-disabled="gettingData || nDS.getIds().length <= 0">Execute Query</button>
    </div>
    <!-- 	</div> -->
    <!-- Areas created-->
    <div id="areas-to-add" class="row" ng-hide="areasimworkingwith == undefined || areasimworkingwith <= 0">
        <div class="col-md-12">
            <div>
                <h4>Areas ({{areasimworkingwith.values.length}})</h4>
            </div>
            <form class="form-inline">
                <select id="selected-areas" class="form-control input-sm" style="width: auto;" ng-model="areasimworkingwith.value" ng-options="area.attributes.label for area in areasimworkingwith.values | orderBy:'area.attributes.label'" style="margin: 10px 10px;" ng-disabled="areasimworkingwith.values.length <= 0">
                </select>
                <button class="btn btn-default addLink" ng-click="addAreaToTheOntology()" ng-disabled="areasimworkingwith.values.length <= 0">Add Area to Query Graph</button>
            </form>
        </div>
    </div>
    <!-- End Areas created-->
    <!-- Input search form -->
    <h4>Search concepts</h4>
    <div class="row">
        <div class="col-lg-5">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="dQuery" placeholder="Introduce query..."> <span class="input-group-btn">
					<button id="analyze-button" class="btn btn-primary" ng-click="dQueryExecute(dQuery)">Analyze</button>
				</span>
            </div>
        </div>
        <button class="btn btn-default" ng-click="initDataQuery()">Restart Analysis</button>
        <input id="populated-button" type="checkbox" ng-model="withInstances" ng-click="dQueryExecute(dQuery)">
        <label>Populated Vocabulary </label>

    </div>

    <div id="dquery-results" class="container-fluid" ng-show="dquery_results_visible" ng-controller="jstreefilterCtrller">
        <div ng-hide="loading_dquery">
            <label>Analyzing...</label> <img src="img/preloader.gif"></img>
        </div>
        <!-- Clustering -->

        <div ng-show="loading_dquery">
            <h4>
				Analysis results (
				<xx ng-style="{'padding-right': 5};">Concepts found: {{untrunkeddataquerysize}}</xx>
				-
				<xx ng-style="{'padding-left': 5};">Concepts shown: {{searchresultssize}}</xx>
				)
			</h4>
            <!-- 			<label ng-style="{'padding-right': 5};">Concepts found: {{untrunkeddataquerysize}}</label>-<label -->
            <!-- 				ng-style="{'padding-left': 5};">Concepts shown:</label> <label>{{jstreeToFilterArray.length}}</label> -->

            <hr>
            <div class="row" style="margin: 5px 0px;">
                <div class="col-md-9">
                    <div>
                        <tabset vertical="false" type="pills">
                            <tab ng-repeat="tab in tabsFilters" heading="{{tab.title}}" active="tab.active" disable="tab.disabled" select="updateJSTree(tab.parentfilter)"> </tab>
                        </tabset>


                        <div style="padding: 5px 5px; overflow: auto; height: 300px;">
                            <div id="dqResultsJSTree"></div>
                        </div>
                        <div style="display: none;">
                            <div id="qresults-snippet-title">
                                <label>Snippet</label>
                            </div>
                            <div id="qresults-snippet-content">
                                <div ng-show="hoverNodeSnippet.label != undefined">
                                    <label>Label: </label>
                                    <div id="snippet-label-append" style="display: inline-block"></div>
                                </div>
                                <div ng-show="hoverNodeSnippet.properties.length > 0">
                                    <label>Property: </label>
                                    <div id="snippet-property-append" style="display: inline-block"></div>
                                </div>
                                <div ng-show="hoverNodeSnippet.related.length > 0">
                                    <label>Related: </label>
                                    <div id="snippet-related-append" style="display: inline-block"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 					<div id="results-as-buttons-n-dropdowns"> -->
                    <!-- 						<div class="btn-group" style="margin: 4px 8px 4px 0px;" dropdown is-open="status.isopen" -->
                    <!-- 							ng-repeat="r in convertArray(queryResults) | orderBy:'-similarity' | filter:myCleaning | limitTo:limitToResults" -->
                    <!-- 							bs-popover> -->
                    <!-- 							<div> -->
                    <!-- 								<button type="button" class="btn btn-default dropdown-toggle" id="{{r.id}}" rel="popover" data-placement="top" -->
                    <!-- 									data-container="body" -->
                    <!-- 									data-content="<label>Comment:</label> {{r.comment}}<br><label>Similarity:</label> {{r.similarity}} <br><label>Has Attribute:</label> {{r.searchsource}}" -->
                    <!-- 									data-trigger="hover" ng-disabled="disabled" ng-click="getDropdown(r)" -->
                    <!-- 									ng-style="{border: '2px solid '+r.genBorderColor()}"> -->
                    <!-- 									{{r.label}} <span class="caret"></span> -->
                    <!-- 								</button> -->
                    <!-- 							</div> -->
                    <!-- 							<ul class="dropdown-menu" role="menu"> -->
                    <!-- 								<li ng-repeat="concept in subSuperClasses" -->
                    <!-- 									ng-click="concept.selected = !concept.selected; updateRelations(concept); generateGraph(concept);"><a -->
                    <!-- 									href="#" style="color: {{concept.catcolor">{{concept.label}} {{concept.relation}} - <span -->
                    <!-- 										id="{{concept.uri}}" class="addsubsuperclass">Add+</span></a></li> -->
                    <!-- 							</ul> -->
                    <!-- 						</div> -->
                    <!-- 						<button class="btn btn-primary" type="button" -->
                    <!-- 							ng-click="limitToResults=undefined; conceptsFoundShown=lastResultSize" -->
                    <!-- 							ng-hide="limitToResults==undefined || lastResultSize < 10">More...</button> -->
                    <!-- 						<button class="btn btn-primary" type="button" ng-click="limitToResults=10 ;  conceptsFoundShown = 10;" -->
                    <!-- 							ng-hide="limitToResults!=undefined || lastResultSize < 10">...Less</button> -->
                    <!-- 					</div> -->


                </div>
                <div class="col-md-3">
                    <h4>Categories ({{convertArray(clusteringResults).length}})</h4>

                    <!-- 					<div ng-repeat="v in convertArray(clusteringResults) | orderBy:'label'"> -->
                    <!-- 						<label class='btn btn-default' ng-click="clickCategory(v.uri)" -->
                    <!-- 							ng-style="{margin: '5px 0px', border: '3px solid '+v.getColor()}" ng-model="clusteringResults[v.uri].selected" -->
                    <!-- 							btn-checkbox>{{v.label}}</label> <br> -->
                    <!-- 					</div> -->
                    <div ng-repeat="v in convertArray(clusteringResults) | orderBy:'label'">
                        <ul>
                            <li>
                                <label>{{v.label}}</label>
                                <div ng-style="{
							width : 15,
							height : 15,
							border : '2px solid black',
							'background-color' : clusteringColors[v.label],
							display : 'inline-block',
							margin : '0px 5px 0px 5px',
						}"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Clustering -->
    <!-- </div> -->

    <!-- <div class="row"> -->
    <!-- 	<div class="col-md-3"></div> -->
    <!-- 	<div class="col-md-6"> -->
    <!-- 			<div id="dquery-graph" ng-show="nDS.getIds().length > 0"> -->
    <!-- 		<div id="dquery-graph" class="row"> -->
    <!-- 			<label class="col-md-1">Graph</label> -->
    <!-- 				<label class="col-md-2 btn btn-default showMap" ng-click=bindUCToGraph()> Bind UC & DQ</label> -->
    <!-- 				<div ng-class ="{mynetwork: (nDS.getIds().length > 0),}" id="mynetwork"></div> -->
    <!-- 				<div id="mynetwork"></div> -->
    <!-- 				<visjs-network></visjs-network> -->
    <!-- 			<div ng-controller="visNetworkGraph"> -->
    <!-- 				<div id="mynetworkX" class="mynetwork"></div> -->
    <!-- 			</div> -->

    <!-- 		</div> -->
    <div id="edges-n-replace" ng-controller="dialogCtrl">
        <form class="form-inline">
            <div class="row">
                <label>Sub/super Concepts: </label>
            </div>
            <div class="row">
                <select id="form-relations" class="form-control input-sm" style="width: auto;" ng-model="replacesToShow.value" ng-options="(v.label+' '+v.relation) for v in replacesToShow.values" ng-style="{margin: '10px 10px'}" ng-disabled="replacesToShow.disabled">
                </select>
                <button class="btn btn-default addLink" ng-click="replaceConcept()" ng-disabled="!replacesToShow.value">Replace</button>
            </div>
        </form>
        <form class="form-inline">
            <div class="row">
                <label>Link/s(P+R): </label>
            </div>
            <div class="row">
                <select id="form-relations" class="form-control input-sm" style="width: auto;" ng-model="descomposedPropsToChoose.prop" ng-options="k for (k,v) in descomposedPropsToChoose.values" ng-style="{margin: '10px 10px'}" ng-disabled="descomposedPropsToChoose.disabled">
                </select>
                <select id="form-relations" class="form-control input-sm" style="width: auto;" ng-model="descomposedPropsToChoose.link" ng-options="v.range.label for (k,v) in descomposedPropsToChoose.prop | orderBy: 'range.label'" ng-style="{margin:'10px 10px'}" ng-disabled="descomposedPropsToChoose.disabled">
                </select>
                <button class="btn btn-default addLink" style="width: auto;" ng-click="addEdgeAccept()" ng-disabled="descomposedPropsToChoose.disabled || !descomposedPropsToChoose.link">Add Property</button>
            </div>
        </form>
    </div>
    <br />
    <!-- 			<div id="network-popUp" ng-show="dquery_graph_edgeConnection"> -->
    <!-- 	<div id="path-selection" ng-show="dquery_graph_edgeConnection"> -->
    <div id="path-selection" ng-show="dquery_graph_edgeConnection">
        <div ng-show="dquery_graph_edgeConnection != undefined && !dquery_graph_edgeConnection">
            <div>Loading Results..</div>
            <div>
                <img src="img/preloader.gif"></img>
            </div>
        </div>
        <div class="row">
            <label>Max. Depth</label>
            <!-- 		</div> -->
            <!-- 		<div class="row"> -->
            <select id="depth-selection" class="form-control" ng-style="{'width': '100px', 'margin': '10px 10px'}" ng-model="selectedDepth" ng-change="updatePaths()">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div class="row">
            <label>Path/s:</label>
        </div>
        <div class="row">
            <select id="form-relations" class="form-control" ng-model="pathsFromTo.selected" ng-options=" v.label for v in pathsFromTo.paths | orderBy:'label'" style="margin: 10px 10px;" ng-disabled="disableWSGetPathsUpdatePaths">
            </select>
        </div>
        <div ng-show="propsToChoose.value.prop.relationshippnumbers >= 1">
            <span>Function require {{propsToChoose.value.prop.relationshippnumbers}} param/s: </span>
            <input class="form-control" ng-model="functionParams[$index]" ng-repeat="i in getNumber(propsToChoose.value.prop.relationshippnumbers) track by $index">
        </div>
        <div>
            <button class="btn btn-default addLink" ng-click="addPath()" ng-disabled="propsToChoose.disabled">Add Path</button>
            <button class="btn btn-default addLink" ng-click="addEdgeConnectCancel()">Cancel</button>
        </div>
    </div>
    <!-- Modal path-proposal-->
    <div id="path-proposal" ng-show="pathSelectionVisible">
        <form class="form">
            <label>Edge/s: </label>
            <select id="form-relations" class="form-control" ng-model="edgeFromTo.selected" ng-options=" v.propertylabel for v in edgeFromTo.values | orderBy:'propertylabel'" ng-style="{margin: '10px 10px'}" ng-change="selectEdge()" ng-disabled="disableWSGetLinksFromTo">
            </select>
            <label>Function requires {{edgeFromTo.selected.relationshippnumbers}} parameter/s</label>
            <div ng-show="edgeFromTo.selected.relationshippnumbers >= 1">
                <input class="form-control" ng-style="{margin: '10px 10px'}" ng-model="functionParams[$index]" ng-repeat="i in getNumber(propsToChoose.value.prop.relationshippnumbers) track by $index">
            </div>
        </form>
        <button class="btn btn-default addLink" ng-click="addPathEdges()" ng-disabled="propsToChoose.disabled">Save</button>
        <!-- 				<button class="btn btn-default addLink" ng-click="pathSelectionVisible = !pathSelectionVisible">Cancel</button> -->
    </div>
    <!-- End Modal path-proposal-->
    <!-- Button to search the data of the properties specified -->
    <!-- 	<div class="row" ng-show="dquery_graph_visible"> -->

    <div id="get-data-results" title="Query ResultsXX" ng-controller="getDataResultsCtrl">
        algoXXX
        <div show-data-cellnex>
            algo
        </div>
        <div ng-show="gettingData">
        </div>
        <div ng-repeat="sg in subgraphs" ng-show="!gettingData">
            <div>
                <button class='btn btn-default' ng-click="updateAllGraphDataValues()" ng-disabled="gettingData || nDS.getIds().length <= 0">Apply Filters</button>
            </div>
            <div class="row">

                <div>
                    <label>Total Results: {{bigTotalItems[0]}}</label>
                    <!-- 			<label>Total Results: {{bigTotalItems[sg]}}</label>  // hard-coded while just one possible subgraph -->
                </div>

                <div class="col-md-3" ng-show="checkShowDataValues(sg)" ng-controller="elemsToShowCtrller">
                    <label>Select all</label>
                    <input type="checkbox" ng-model="elemSelectAllchecked" ng-click="elemSelectAll(sg)"></input>

                    <table class="showQueryResults">
                        <thead>
                            <tr>
                                <th class="showQueryResults" ng-repeat="k in sg" ng-hide="nDS.get(k).label == undefined">
                                    {{nDS.get(k).label}}
                                    <div ng-style="{width: 15, height:15, 'border': '2px solid black', 'background-color': getConceptColor(k)}"></div>
                                    <select id="form-relations" class="form-control input-sm" ng-model="colToShow[k]" ng-options="property.label for property in propertyLabels[nDS.get(k).uri] | orderBy:'label'" ng-change="updateAttribute(k)">
                                    </select>
                                </th>
                                <th class="showQueryResults">
                                    <label>Visible</label>
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td class="showQueryResults" ng-repeat="col in sg" ng-hide="nDS.get(col).label == undefined">
                                    <div class="form-inline">
                                        <select id="form-relations" class="form-control input-sm" ng-model="resourceChoosen[col]">
                                            <option ng-repeat="r in resourceToChoose" value="{{r}}" ng-disabled="(r != 'Contains') && !isNumericColumn(r,col)">{{r}}</option>
                                        </select>
                                        <input class="form-control" ng-model="searchText[col].text" ng-show="resourceChoosen[col] == 'Contains'">
                                        <form class="form-inline" ng-show="resourceChoosen[col] == 'Range'">
                                            <input class="form-control" ng-model="searchText[col].min">
                                            <input class="form-control" ng-model="searchText[col].max">
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <!-- 					<tr ng-repeat="r in rows | filter:myFilterFunction"> -->
                            <tr ng-repeat="r in rows">
                                <td class="showQueryResults" ng-repeat="col in sg" ng-hide="nDS.get(col).label == undefined">
                                    <label>
                                        {{r[col].rowvalues}}</label>
                                </td>
                                <td class="showQueryResults">
                                    <label>
                                        <input type="checkbox" ng-model="visible[r.id]" ng-click="elemSelected(r, sg)"></input>
                                    </label>
                                </td>

                            </tr>
                            <!-- Calculus -->
                            <tr>

                                <td class="showQueryResults" ng-repeat="col in sg" ng-hide="nDS.get(col).label == undefined">
                                    <select id="form-relations" class="form-control input-sm" ng-model="calculusChoosen[col]" ng-change="updateCalculus()">
                                        <!-- 										<option ng-repeat="r in calculusToChoose " value="{{r}}" ng-disabled="r != 'Count' && isNaN(rows[0][k])"> -->
                                        <!-- 											{{r}}</option> -->
                                        <option ng-repeat="r in calculusToChoose " value="{{r}}" ng-disabled="(r != 'Count') && isNumericColumn(r,col)">{{r}}</option>
                                    </select> <span>{{calculusResult[col]}}</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div>
                    <pagination id="paginX" total-items="bigTotalItems[$index]" ng-change="pageChanged()" items-per-page="rowsPerPage[$index]" ng-model="currentPage[$index]" max-size="maxPagesOffer[$index]" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages[$index]"></pagination>
                </div>
                <div>
                    <a href="{{csvLinks[sg]}}" ng-click="exportTable(sg)">Download CSV</a>
                </div>
            </div>
        </div>
    </div>

    <div id="adding-node" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- 				<div class="modal-header"> -->
                <!-- 					<button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
                <!-- 						<span aria-hidden="true">&times;</span> -->
                <!-- 					</button> -->
                <!-- 					<h4 class="modal-title">Modal title</h4> -->
                <!-- 				</div> -->
                <div class="modal-body">
                    <div data-toggle="modal">
                        <div id="my-modal-body">
                            <div>Adding Node to Query Graph...</div>
                            <div>
                                <img src="img/preloader.gif"></img>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 				<div class="modal-footer"> -->
                <!-- 					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <!-- 					<button type="button" class="btn btn-primary">Save changes</button> -->
                <!-- 				</div> -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>

<!-- /Data-Query -->
