


<!-- <div id="tab15"> -->
<!-- <div id="tab15concepts"> -->
<!-- <div id="tab15class"></div> -->
<!-- <div id="tab15related"> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div id="tab15search"> -->
<!-- <div class='sparqlCaption'> -->
<!-- Search Properties -->
<!-- </div> -->
<!-- <form class='centered' onsubmit="return false;"> -->
<!-- Search properties: <input type="text" id="tab15inputsearch"/> -->
<!-- <button type="button" onclick="AjaxGetMatchProperties()">Submit</button> -->
<!-- <button type="button" onclick="tab15ClearSelection()">Clear Selection</button> -->
<!-- </form> -->
<!-- </div> -->
<!-- <div id="tab15results"> -->
<!-- <div class='sparqlCaption'> -->
<!-- Properties that match -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->







<!-- Related-Concepts -->
<div id="related-concepts" ng-controller="relConceptsCtrl" style="padding: 20px">
	<div class="row">
		<!-- 		<button type="button" class="btn" ng-model="populatedRelConcepts" ng-click="populatedRelConcepts=!populatedRelConcepts " btn-checkbox>Populated</button> -->
		<button type="button" class="btn btn-default" ng-model="populatedRelConcepts.populated" btn-checkbox>Populated</button>
	</div>

	<div class="row">
		<div id="tab15concepts">
			<div id="tab15class" class="col-md-2"></div>
			<div id="tab15related" class="col-md-10"></div>
		</div>
	</div>
	<div class="row">
		<div id="tab15search">

			<!-- 			<form onsubmit="return false;" class="form-inline"> -->
			<!-- 				Search concepts: <input type="text" id="tab1inputsearch" class="form-control" ng-model="conceptsSearch" /> -->
			<!-- 				<button type="button" class="form-control" onclick="tab1SearchConcepts()">Submit</button> -->
			<!-- 				<button type="button" class="form-control" onclick="ExpandTree()">Expand Tree</button> -->
			<!-- 				<button type="button" class="form-control" onclick="CloseTree()">Close Tree</button> -->
			<!-- 				<button type="button" onclick="tab15ClearSelection()">Clear Selection</button>  -->
			<!-- 			</form> -->
			<br>
			<form onsubmit="return false;" class="form-inline">
				Search properties: <input type="text" id="tab15inputsearch" class="form-control"> </input>
				<button type="button" onclick="AjaxGetMatchProperties()" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div id="tab15results">
			<div class='sparqlCaption'>Properties that match</div>
		</div>
	</div>
</div>
<!-- /Related-Concepts -->