<!-- Sparql-Query -->
<div id="sparql-tab" ng-controller="sparqlQueryCtrl">
	<div class='sparqlCaption'>SPARQL Query</div>

	<textarea id='sparqlQuery' class="form-control"></textarea>
	<br />
	<div class='sparqlCaption'>SPARQL Prefixes</div>

	<textarea id='sparqlPrefixes' class="form-control"></textarea>

	<div class='sparqlCaption'>SPARQL Results</div>

	<div id='sparqlResults'></div>

	<div class='buttonQuery'>
		<button type="button" onclick="AjaxQueryResults()" class="btn btn-default">Submit</button>
	</div>
</div>
<!-- /Sparql-Query -->