<!-- Indicators -->
<div class="row">
	<div class="col-md-12">
		<div class="gridStyleIndicators" style="margin: 10px 0;" ui-grid="gridOptionsAll" ui-grid-edit ui-grid-selection></div>
	</div>
</div>

<!-- /Indicators -->