<!-- Indicators -->
<div class="row">
	<div class="col-md-2">
		<div data-angular-treeview="true" data-tree-id="OntCat" data-tree-model="treedata" data-node-id="id"
			data-node-label="label" data-node-children="children" ng-bind=""></div>
	</div>
	<div class="col-md-10">
		currentNode.label: {{OntCat.currentNode.label}}
		currentNode.id: {{OntCat.currentNode.id}}
	</div>
</div>
<!-- /Indicators -->