<md-dialog aria-label="List dialog" style="z-index:2000;">
    <md-dialog-content>
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-triangle" style="margin-right: 5px;"></i>{{errorMsg}}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-default pull-right" ng-click="closeDialog()">Close</button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
