<div>
    <div class="row">
        <div class="text-center">
            <p class="home-p1">What can I do?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <!-- 				<img src="http://icons.iconarchive.com/icons/icojam/blue-bits/128/globe-search-icon.png"> -->
                <!-- 				<img src="http://files.softicons.com/download/application-icons/boxed-metal-icons-by-martz90/png/128x128/search.png" -->
                <!-- 					class="home-page-icons" ng-click="redirector('Home/')"> -->

                <img src="img/search.png" class="home-page-icons" ng-click="redirector('NewQuery/')">
                <div class="home-p3">
                    <b>1.</b> Search concepts, explore the ontology
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="text-center">
                <!-- 				<img src="http://www.nettel.ca/wp-content/uploads/2015/04/network-icon-256x256.png" class="home-page-icons" -->
                <!-- 					ng-click="redirector('NewQuery/')"> -->
                <!-- 				<img src="http://uk.emc.com/R1/images/EMC_Image_C_1300591286467_icon-analyze-network-security.jpg" -->
                <img src="img/network_search.jpg" class="home-page-icons" ng-click="redirector('NewQuery/')">

                <div class="home-p3">
                    <b>2.</b> Compose the query & specify conditions and relationships What? How? Where?
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="text-center">
                <img src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-7/128/Generate-tables-icon.png" class="home-page-icons" ng-click="redirector('Indicators/')">

                <div>
                    <div class="home-p3">
                        <b>3.</b> View & Analyze Results
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="img/tree.png" class="home-img" ng-click="redirector('NewQuery/')">
        </div>
        <div class="col-md-4 text-center">
            <img src="img/query.png" class="home-img" ng-click="redirector('NewQuery/')">
        </div>
        <div class="col-md-4 text-center">
            <img src="img/map.png" class="home-img" ng-click="redirector('Indicators/')">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4" style="margin-bottom: 50px; margin-top: 10px;">
        <button class="btn btn-primary btn-block" style="font-size: 250%; font-weight: bold;" ng-click="redirector('NewQuery/')">Start</button>
    </div>
</div>
