<md-dialog aria-label="List dialog" style="z-index:2000;">
    <md-dialog-content>
        <div class="row text-center">
            <div ng-style="{padding: '0px 30px'}">
                <h3 ng-style="{margin: '0px 0px 10px 0px'}">{{message}}</h3>
            </div>
            <div>
                <img src="img/preloader.gif">
            </div>
        </div>
        <div class="row text-center" ng-show="cancelable" ng-style="{padding:'20px 0px 0px 0px'}">
            <!-- 	<md-button ng-click="closeMdDialog()" class="md-raised"> {{cancel_button}} </md-button> -->
            <button class="btn btn-default" ng-click="closeMdDialog()">{{cancel_button}}</button>
        </div>
    </md-dialog-content>
</md-dialog>
