<!--If you want to have more than one map on the page and access their respective map objects, add an id attribute to your leaflet directive in HTML:-->
<md-dialog aria-label="List dialog" style="z-index:2000;">
    <md-dialog-content style="height: 640px; width: 640px">
        <div class="page-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="hideDialog();">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">View Instance on Map</h4>
        </div>

        <div id="mymap" class="row" style="margin-bottom: 15px;width: 100%; height: 100%;">
            <div class="col-lg-12">
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
