<!-- <!-- <md-dialog aria-label="List dialog" style="z-index:2000;"> <md-dialog-content> --> -->
<!-- <div id="get-data-results" title="Query Results" ng-controller="getDataResultsCtrl"> -->
<!-- 	<div ng-show="gettingData"> -->
<!-- 		<div>Loading Results..</div> -->
<!-- 		<div> -->
<!-- 			<img src="img/preloader.gif"></img> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- 	<div ng-repeat="sg in subgraphs" ng-hide="gettingData"> -->
<!-- 		<div> -->
<!-- 			<button class='btn btn-default' ng-click="updateAllGraphDataValues()" -->
<!-- 				ng-disabled="gettingData || nDS.getIds().length <= 0">Apply Filters</button> -->
<!-- 		</div> -->
<!-- 		<div class="row"> -->

<!-- 			<div> -->
<!-- 				<label>Total Results: {{bigTotalItems[0]}}</label> -->
<!-- 							<label>Total Results: {{bigTotalItems[sg]}}</label>  // hard-coded while just one possible subgraph -->
<!-- 			</div> -->

<!-- 			<div class="col-md-12" ng-show="checkShowDataValues(sg)" ng-controller="elemsToShowCtrller"> -->
<!-- 				<label>Select all</label><input type="checkbox" ng-model="elemSelectAllchecked" ng-click="elemSelectAll(sg)"></input> -->

<!-- 				<table class="showQueryResults"> -->
<!-- 					<thead> -->
<!-- 						<tr> -->
<!-- 							<th class="showQueryResults" ng-repeat="k in sg | filter:filterIsNotArea" -->
<!-- 								ng-hide="F_QMGraph.nDS.get(k).label == undefined">{{F_QMGraph.nDS.get(k).label}} DataProperties -->
<!-- 								<div ng-style="{width: 15, height:15, 'border': '2px solid black', 'background-color': getConceptColor(k)}"></div> -->
<!-- 								<select id="form-relations" class="form-control input-sm" ng-model="F_QM.queries.dataproperties.selected[k]" -->
<!-- 								ng-options="property.label for property in F_QM.getDP(F_QMGraph.nDS.get(k).uri) | orderBy:'label'" -->
<!-- 								ng-change="updateAttribute(k, property)"> -->
<!-- 							</select> kXX={{k}}, selectedZXX={{F_QM.queries.dataproperties.selected[k]}}/DataProperties -->
<!-- 							</th> -->
<!-- 							<th class="showQueryResults"><label>Visible (Map)</label></th> -->
<!-- 						</tr> -->

<!-- 					</thead> -->
<!-- 					<tbody> -->
<!-- 						<tr> -->
<!-- 							<td class="showQueryResults" ng-repeat="col in sg" ng-hide="F_QMGraph.nDS.get(col).label == undefined"> -->
<!-- 								<div class="form-inline" ng-init="F_QM.queries.resultfilters.selected[col]={params:[]};"> -->
<!-- 									<select id="form-relations" class="form-control input-sm" -->
<!-- 										ng-model="F_QM.queries.resultfilters.selected[col].type"> -->
<!-- 										<option ng-repeat="r in F_QM.queries.resultfilters.types" value="{{r.label}}" -->
<!-- 											ng-disabled="r.numeric && !isNumericColumn(col)">{{r.label}}</option> -->
<!-- 									</select> -->
<!-- 									<form class="form-inline"> -->
<!-- 																				<div ng-repeat="param in F_QM.queries.resultfilters.types.params | filter:'{label:F_QM.queries.resultfilters.selected[col].type}'"> -->
<!-- 										<div -->
<!-- 											ng-repeat="rfilter in F_QM.queries.resultfilters.types | filter:{label:F_QM.queries.resultfilters.selected[col].type}" -->
<!-- 											ng-hide="F_QM.queries.resultfilters.selected[col].type == undefined"> -->
<!-- 											<div ng-repeat="param in rfilter.params"> -->
<!-- 												<b>{{param}}</b> <input class="form-control" -->
<!-- 													ng-model="F_QM.queries.resultfilters.selected[col].params[param]"></input> -->
<!-- 											</div> -->
<!-- 										</div> -->

<!-- 									</form> -->
<!-- 								</div> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 											<tr ng-repeat="r in rows | filter:myFilterFunction"> -->
<!-- 						<tr ng-repeat="row in rows"> -->
<!-- 							<td class="showQueryResults" ng-repeat="col in sg" ng-hide="F_QMGraph.nDS.get(col).label == undefined"><label> -->
<!-- 									{{row[col].rowvalues}}</label></td> -->
<!-- 							<td class="showQueryResults"><label> <input type="checkbox" ng-model="visible[row.id]" -->
<!-- 									ng-click="elemSelected(row, sg)"></input> -->
<!-- 							</label></td> -->

<!-- 						</tr> -->
<!-- 						Calculus -->
<!-- 						<label>Calculus</label> -->
<!-- 						<tr> -->

<!-- 							<td class="showQueryResults" ng-repeat="k in sg" ng-hide="F_QMGraph.nDS.get(k).label == undefined"><select -->
<!-- 								id="form-relations" class="form-control input-sm" ng-model="calculusChoosen[k]" ng-change="updateCalculus()"> -->
<!-- 									<option ng-repeat="r in calculusToChoose " value="{{r.label}}" ng-disabled="r != 'Count' && isNaN(rows[0][k])"> -->
<!-- 										{{r}}</option> -->
<!-- 							</select> <span>{{calculusResult[k]}}</span></td> -->
<!-- 						</tr> -->

<!-- 					</tbody> -->
<!-- 				</table> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<div class="row"> -->
<!-- 			<div> -->
<!-- 				<pagination id="paginX" total-items="bigTotalItems[$index]" ng-change="pageChanged()" -->
<!-- 					items-per-page="rowsPerPage[$index]" ng-model="currentPage[$index]" max-size="maxPagesOffer[$index]" -->
<!-- 					class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages[$index]"></pagination> -->
<!-- 			</div> -->
<!-- 			<div> -->
<!-- 				<a href="{{csvLinks[sg]}}" ng-click="exportTable(sg)">Download CSV</a> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<div class="row"> -->
<!-- 			<!-- 			<div class="col-sm-offset-4"> --> -->
<!-- 			<div class="pull-right"> -->
<!-- 				<button class="btn btn-default addLink" ng-click="hideDialog();">Close</button> -->
<!-- 			</div> -->
<!-- 		</div> -->


<!-- 	</div> -->
<!-- </div> -->
<!-- <!-- </md-dialog-content> </md-dialog> --> -->