<!-- <md-dialog aria-label="List dialog" style="z-index:2000;"> <md-dialog-content> -->
<div ng-show="(dquery_graph_edgeConnection != undefined) && (show_dquery_graph_edgeConnection)">
    <div>Loading Results..</div>
    <div>
        <img src="img/preloader.gif">
    </div>
</div>
<div ng-style="{margin: '20px 0 0 0'}">
    <h4>Select Max. Depth:</h4>
</div>
<div>
    <div>
        <select id="depth-selection" class="form-control" ng-style="{'width': '100px'}" ng-model="selectedDepth.selected" ng-change="updatePaths()"
            ng-options="i as i for i in selectedDepth.values">
        </select>
    </div>
</div>

<div ng-show="!(pathsFromTo.paths.length > 0)">
    <div>
        <div>
            <p class="text-warning text-center" ng-style="{'font-size': '150%', 'font-weight': '900', margin: '20px 0 0 0'}">No Paths Found (depth {{selectedDepth.selected}})</p>
            <p class="text-warning text-center" ng-style="{'font-size': '125%', 'font-weight': '900'}">Try more depth
            </p>
        </div>
    </div>
</div>
<div ng-show="pathsFromTo.paths.length>0" ng-style="{padding: '20px 0 0 0'}">
    <div>
        <h4>{{pathsFromTo.paths.length}} Path/s found:</h4>
    </div>
    <div>
        <div ng-hide="disableWSGetPathsUpdatePaths">
            <select id="form-relations" class="form-control" ng-model="pathsFromTo.selected" ng-options=" v.label for v in pathsFromTo.paths | orderBy:'label'"
                ng-disabled="disableWSGetPathsUpdatePaths">
            </select>
        </div>
        <div ng-show="disableWSGetPathsUpdatePaths">
            <div class="row text-center">
                <div>
                    <h5>Searching Paths...</h5>
                </div>
                <div>
                    <img src="img/preloader.gif">
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-style="{margin:'20px 0px 0px 0px'}">
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button class="btn btn-default addLink" ng-click="addEdgeConnectCancel();hideDialog();">
                    <span class="glyphicon glyphicon-remove" style="padding-right: 2px;" aria-hidden="true"></span>Cancel
                </button>
                <button class="btn btn-success addLink" ng-click="addPath();hideDialog();" ng-disabled="propsToChoose.disabled" ng-hide="!(pathsFromTo.paths.length > 0)">
                    <span class="glyphicon glyphicon-ok" style="margin-left:5px; padding-right: 2px;" aria-hidden="true"></span> New Path
                </button>
            </div>
        </div>
    </div>
</div>
<!-- </md-dialog-content> </md-dialog> -->