<div class="panel panel-primary">
    <div class="panel-heading" ng-style="{'border':'solid 2px #2fa4e7', 'border-radius': '5px',  'background': 'white', color:'#2fa4e7', 'font-weight':'bold'}">
        <b>Explore the Ontology</b>
    </div>
    <div class="panel-body">

        <div id="tab-dquery" ng-controller="dQueryController">
            <h4>Search concepts</h4>
            <div class="row" ng-style="{'top-margin':'10px'}">
                <div class="col-lg-9">
                    <input type="text" class="form-control" ng-model="dQuery" placeholder="Search for a Concept... (E.g. 'Residents in buildings')"
                        ng-keyup="$event.keyCode == 13 ? dQueryExecute(dQuery): null">
                </div>
                <div class="col-lg-3">
                    <button id="analyze-button" class="btn btn-primary btn-block" ng-click="dQueryExecute(dQuery)">
                        <span class="glyphicon glyphicon-search" style="padding-right: 2px;" aria-hidden="true"></span> Explore!
                    </button>
                </div>
            </div>
            <div>
                <label>
                    <input id="querywithinstances" type="checkbox"> Search for instances
                </label>
            </div>
            <div id="dquery-results" class="container-fluid" ng-show="dquery_results_visible" ng-controller="jstreefilterCtrller">
                <!-- Clustering -->
                <div ng-show="loading_dquery">
                    <h4>
                        Analysis results (
                        <xx ng-style="{'padding-left': 5};">Concepts shown: {{searchresultssize}}
                        </xx>
                        -
                        <xx ng-style="{'padding-right': 5};">Concepts found: {{untrunkeddataquerysize}}
                        </xx>

                        )
                    </h4>
                    <hr>
                    <div class="row" style="margin: 5px 0px;">
                        <div class="col-md-12">
                            <tabset vertical="false" type="pills">
                                <tab ng-repeat="tab in tabsFilters" heading="{{tab.title}} ({{jstreeNodesByFilter[tab.parentfilter].jstreenodes}})" active="tab.active"
                                    select="updateJSTree(tab.parentfilter)">
                                </tab>
                            </tabset>
                            <div style="padding: 5px 5px; overflow: auto; height: 300px;">
                                <div ng-show="!filterstoshow">
                                    <p class="text-warning text-center" ng-style="{'font-size': '200%', 'font-weight': '900', padding: '20px 0 0 0'}">No results in this Category</p>
                                    <h3 ng-style="{color:orange,}">No results in this Category</h3>
                                </div>
                                <!--<div id="dqResultsJSTree" ng-show="filterstoshow"></div>-->
                                <div id="dqResultsJSTree"></div>
                            </div>
                            <!-- Buttons -->
                            <div class="text-right" style="margin: 10px 0 0 0;">
                                <button type="button" class="btn btn-info bt-lg" ng-click="loadCheckedConcepts();">
                                    <span class="glyphicon glyphicon-map-marker" style="padding-right: 2px;" aria-hidden="true"></span> View in Map
                                </button>
                                <button type="button" class="btn btn-success" ng-click="addtoquery()">
                                    <span class="glyphicon glyphicon-plus" style="padding-left: 2px;" aria-hidden="true"> </span>
                                    <!-- <span class="glyphicon glyphicon-triangle-right" style="padding-left: 2px;" aria-hidden="true"></span> -->
                                    Add selected to query Graph
                                </button>
                            </div>
                            <!-- /Buttons -->
                            <!-- Snippet -->
                            <div style="display: none;">
                                <div id="qresults-snippet-title">
                                    <label>Snippet</label>
                                </div>
                                <div id="qresults-snippet-content">
                                    <div ng-show="hoverNodeSnippet.label != undefined">
                                        <label>Label: </label>
                                        <div id="snippet-label-append" style="display: inline-block"></div>
                                    </div>
                                    <div ng-show="hoverNodeSnippet.properties.length > 0">
                                        <label>Property: </label>
                                        <div id="snippet-property-append" style="display: inline-block"></div>
                                    </div>
                                    <div ng-show="hoverNodeSnippet.related.length > 0">
                                        <label>Related: </label>
                                        <div id="snippet-related-append" style="display: inline-block"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Snippet -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- 	jstree -->
            <div ng-controller="uCController" ng-hide="true">
                <h4>UrbanConcepts, SHOWN ALL (no search)</h4>
                <div class="row" style="padding: 20px">
                    <!-- 					<div id="jstreeUrbanConcepts" ng-controller="uCJsTreeController"></div> -->
                    <div id="jstreeUrbanConcepts"></div>
                </div>
                <div class="row" ng-controller="loadDataOntoOLCtrl">
                    <div class="text-right" ng-hide="true">
                        <button type="button" class="btn btn-info bt-lg" ng-click="loadCheckedConcepts(); doTheQuery();">
                            <!-- 					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>  -->
                            View in Map
                        </button>
                        <button type="button" class="btn btn-success" ng-click="bindUCToGraph();">Add selected to query Graph</button>
                    </div>
                    <!-- Datos de los conceptos cargados en el mapa -->
                    <div class="row" ng-show="queries.urbanconcepts.selected != undefined">
                        <div>
                            <label>Total Results: {{queries.urbanconcepts[queries.urbanconcepts["selected"]].bigTotalItems[0]}}
                            </label>
                        </div>

                        <div class="col-md-3">
                            <table class="showQueryResults">
                                <thead>
                                    <tr>
                                        <th class="showQueryResults" ng-repeat="k in sg" ng-hide="nDS.get(k).label == undefined">{{nDS.get(k).label}}
                                            <select id="form-relations" class="form-control input-sm" ng-model="colToShow[k]" ng-options="property.label for property in propertyLabels[k]"
                                                ng-change="updateGraphDataValues(k)">
                                            </select>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="showQueryResults" ng-repeat="k in sg" ng-hide="nDS.get(k).label == undefined">
                                            <div class="form-inline">
                                                <select id="form-relations" class="form-control input-sm" ng-model="resourceChoosen[k]">
                                                    <option ng-repeat="r in resourceToChoose" value="{{r}}" ng-disabled="(r == 'Range') && isNaN(rows[0][k])">
                                                        {{r}}</option>
                                                </select>
                                                <input class="form-control" ng-model="searchText[k].text" ng-show="resourceChoosen[k] == 'Contains'">
                                                <form class="form-inline">
                                                    <input class="form-control" ng-model="searchText[k].min" ng-show="resourceChoosen[k] == 'Range'">
                                                    <input class="form-control" ng-model="searchText[k].max" ng-show="resourceChoosen[k] == 'Range'">
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="r in rows">
                                        <td class="showQueryResults" ng-repeat="col in sg" ng-hide="nDS.get(col).label == undefined">{{r[col]}}</td>
                                    </tr>
                                    <label>Calculus</label>
                                    <tr>

                                        <td class="showQueryResults" ng-repeat="k in sg" ng-hide="nDS.get(k).label == undefined">
                                            <select id="form-relations" class="form-control input-sm" ng-model="calculusChoosen[k]" ng-change="updateCalculus()">
                                                <option ng-repeat="r in calculusToChoose " value="{{r.label}}" ng-disabled="r != 'Count' && isNaN(rows[0][k])">{{r}}</option>
                                            </select>
                                            <span>{{calculusResult[k]}}</span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <pagination id="paginX" total-items="bigTotalItems[$index]" ng-change="pageChanged()" items-per-page="rowsPerPage[$index]"
                                ng-model="currentPage[$index]" max-size="maxPagesOffer[$index]" class="pagination-sm" boundary-links="true"
                                rotate="false" num-pages="numPages[$index]"></pagination>
                            <a href="{{csvLinks[sg]}}" ng-click="exportTable(sg)">Download CSV
                            </a>
                        </div>
                    </div>
                    <!-- End Data -->
                </div>
            </div>
        </div>

    </div>
</div>