<md-dialog aria-label="List dialog" style="z-index:2000;">
    <md-dialog-content>

        <div class="page-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="hideDialog();">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Select an Area</h4>
        </div>
        <div></div>
        <div class="row" ng-switch="areasimworkingwith.values.length <= 0">
            <div class="col-lg-12" ng-switch-when="true">
                <div class="alert alert-warning text-center">
                    <!-- 			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> -->
                    No areas created, please create a <b>New Area</b>.
                </div>
            </div>
            <div class="col-lg-12" ng-switch-when="false" ng-style="{padding:'0px 0px 20px 0px'}">
                <form class="form-inline">
                    <select id="selected-areas" class="form-control" style="width: auto;" ng-model="areasimworkingwith.value" ng-options="area.attributes.label for area in areasimworkingwith.values | orderBy:'area.attributes.label'" style="margin: 10px 10px;" ng-disabled="areasimworkingwith.values.length <= 0">
                    </select>
                    <button class="btn btn-success addLink" ng-click="addAreaToTheOntology();hideDialog();" ng-disabled="areasimworkingwith.values.length <= 0">
                        <span class="glyphicon glyphicon-plus" style="padding-left: 2px;" aria-hidden="true"> </span> Add Area to Query Graph
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right">
                    <button class="btn btn-primary addLink" ng-click="hideDialog();toggleMap();">New Area</button>
                    <!-- 			<button class="btn btn-default addLink" -->
                    <!-- 				ng-style="{margin:'0px 0px 0px 5px'}" ng-click="hideDialog();">Close</button> -->
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
