<md-dialog aria-label="List dialog" style="z-index:2000;">
    <md-dialog-content>
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary" ng-class="{'active':whattoshow==0}" ng-click="whattoshow=0;">Edge</button>
                    <button type="button" class="btn btn-primary" ng-class="{'active':whattoshow==1}" ng-click="whattoshow=1; updatePaths();">Paths</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="animate-switch-container" ng-switch on="whattoshow">
                    <select-edge ng-switch-when="0"></select-edge>
                    <select-path ng-switch-when="1"></select-path>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
