<!-- <md-dialog aria-label="List dialog" style="z-index:2000;"> <md-dialog-content> -->
<div ng-show="disableWSGetLinksFromTo">
    <div>Loading Edges..</div>
    <div>
        <img src="img/preloader.gif">
    </div>
</div>
<div ng-show="!disableWSGetLinksFromTo">
    <div ng-show="edgeFromTo.values.length > 0">
        <div>
            <h4>Choose edge:</h4>
        </div>
        <form class="form">
            <select id="form-relations" class="form-control" ng-model="edgeFromTo.selected" ng-options=" v.propertylabel for v in edgeFromTo.values | orderBy:'propertylabel'"
                ng-change="selectEdge()" ng-disabled="disableWSGetLinksFromTo">
            </select>
            <div ng-hide="edgeFromTo.selected.relationshippnumbers == '0'">
                <div>
                    <h5>Edge (Function) requires {{edgeFromTo.selected.relationshippnumbers}} parameter/s:</h5>
                </div>
                <div>
                    <input class="form-control" ng-model="functionParams[$index]" ng-repeat="i in getNumber(propsToChoose.value.prop.relationshippnumbers) track by $index">
                </div>
            </div>
        </form>
    </div>
    <div ng-hide="edgeFromTo.values.length > 0" ng-style="{margin: '20px 0 0 0'}">
        <p class="text-warning text-center" ng-style="{'font-size': '150%', 'font-weight': '900'}">No Edge Found
        </p>
        <p class="text-warning text-center" ng-style="{'font-size': '125%', 'font-weight': '900'}">You can try Paths</p>
    </div>
</div>
<div ng-style="{margin:'20px 0px 0px 0px'}">
    <div class="pull-right">
        <button class="btn btn-default addLink" ng-click="addEdgeConnectCancel();hideDialog()">
            <span class="glyphicon glyphicon-remove" style="padding-right: 2px;" aria-hidden="true"></span> Cancel
        </button>
        <button class="btn btn-success addLink" ng-click="addPathEdges();hideDialog()" ng-disabled="propsToChoose.disabled" ng-show="edgeFromTo.values.length > 0">
            <span class="glyphicon glyphicon-ok" style="padding-right: 2px;" aria-hidden="true"></span> Save
        </button>
    </div>
</div>

<!-- </md-dialog-content> </md-dialog> -->