<md-dialog aria-label="List dialog" style="z-index:2000;">
    <md-dialog-content>

        <div id="edges-n-replace" ng-controller="directLinksReplaceCtrl">
            <div>
                <div class="row">
                    <h4>Sub/super Concepts:</h4>
                </div>
                <div class="row">
                    <form class="form-inline">
                        <select id="form-relations" class="form-control" style="width: auto;" ng-model="replacesToShow.value" ng-options="(v.label+' '+v.relation) for v in replacesToShow.values"
                            ng-style="{margin: '0px 10px'}" ng-disabled="replacesToShow.disabled">
                        </select>
                        <button class="btn btn-success addLink" ng-click="replaceConcept(); hideDialog();" ng-disabled="!replacesToShow.value">
                            <span class="glyphicon glyphicon-retweet" style="margin-right: 5px;" aria-hidden="true"> </span>Replace
                        </button>
                    </form>
                </div>
            </div>
            <div ng-style="{margin:'20px 0px 0px 0px'}">
                <div class="row">
                    <h4>Link/s(P+R):</h4>
                </div>
                <div class="row">
                    <form class="form-inline">
                        <img id="links-loading" src="img/ajax-loader.gif" alt="Loading">
                        <select id="form-relations" class="form-control" style="width: auto;" ng-model="descomposedPropsToChoose.prop" ng-options="links[0].prop.label for links in descomposedPropsToChoose.values | orderBy:'prop.label' track by links[0].prop.uri"
                            ng-style="{margin: '0px 10px'}" ng-disabled="descomposedPropsToChoose.disabled">
                        </select>
                        <select id="form-relations" class="form-control" style="width: auto;" ng-model="descomposedPropsToChoose.link" ng-options="v.range.label for (k,v) in descomposedPropsToChoose.prop | orderBy: 'range.label'"
                            ng-style="{margin: '0px 10px'}" ng-disabled="descomposedPropsToChoose.disabled">
                        </select>
                        <button class="btn btn-success addLink" style="width: auto;" ng-click="addEdgeAccept(); hideDialog();" ng-disabled="descomposedPropsToChoose.disabled || !descomposedPropsToChoose.link">
                            <span class="glyphicon glyphicon-plus" style="margin-right: 5px;" aria-hidden="true"> </span>Add Property
                        </button>
                    </form>
                </div>
            </div>

            <div ng-style="{margin:'20px 0px 0px 0px'}">
                <div class="pull-right">
                    <button class="btn btn-default addLink" ng-click="hideDialog()">
                        <span class="glyphicon glyphicon-remove" style="padding-right: 2px;" aria-hidden="true"></span>Cancel
                    </button>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>