<div id="results-state" ng-show="showResultsState">
	<div class="row text-center">
		<div ng-style="{padding: '0px 30px'}">
			<h3 ng-style="{margin: '0px 0px 10px 0px'}">Updating data...</h3>
		</div>
		<div>
			<img src="img/preloader.gif">
		</div>
	</div>
</div>
<div class="container" ng-show="showDataCellnex">
	<h2>Query Results</h2>
	<p>Enery data obtained from Cellnex API</p>
	<div id="results-table">
		<table class="table">
			<thead>
				<tr>
					<th ng-repeat="val in queryDataCellnex.headers">{{val}}</th>
				</tr>
			</thead>
			<tbody>
				<!--<tr ng-repeat="params in queryDataCellnex.result">-->
				<!-- Attributes STARTS -->
				<tr>
					<!--TODO: select with the attributes-->
					<td ng-repeat="attribs in queryDataCellnex.attributes track by $index">
						<select id="attrib_{{$index}}" class="form-control input-sm" ng-init="F_QM.queries.resultfilters.selected[$index] = attribs[0]"
						    ng-model="F_QM.queries.resultfilters.selected[$index]" ng-change="updateDataResults({{$index}})" ng-options="attrib.label for attrib in attribs">
						</select>
					</td>
				</tr>
				<!-- Attributes ENDS -->
				<!-- DATA START -->
				<tr ng-repeat="row in queryDataCellnex.data">
					<!--<td ng-repeat="(paramName, paramValue) in params">{{paramValue}}</td>-->
					<!--<td ng-repeat="param in params track by $index">{{param}}</td>-->
					<td ng-repeat="val in row track by $index">
						<!--<td>-->
						<div class="row">
							<div class="col-md-12">
								{{val}}
								<button type="button" class="btn btn-default btn-sm" style="margin: 0px 0px 0px 10px;" ng-show="queryDataCellnex.hasLocation[$index]"
								    ng-click="viewOnMap()">View on Map</button>
							</div>
						</div>
					</td>
				</tr>
				<!-- DATA END -->
			</tbody>
		</table>
	</div>
</div>