<!--<div class="panel panel-primary">-->
<!--<div id="map-panel" class="panel-body" ng-controller="AddAreaCtrl">-->
<div>
    <div id="map-panel" ng-controller="AddAreaCtrl">
        <div class="row" style="margin-bottom: 5px">
            <div class="col-lg-12">
                <button id="draw-feature" class="btn btn-primary" ng-class="{active: OLControlActive.active == 1}" ng-click="toggleControl('drawFeature'); OLControlActive.active = 1;"
                    data-toggle="tooltip" data-placement="bottom" title="Draw areas on the Map">
                    <i class="fa fa-pencil-square-o fa-lg"></i> Draw Area
                </button>
                <button id="navigate" class="btn btn-warning" ng-class="{active: OLControlActive.active == 2}" ng-click="toggleControl('navigation'); OLControlActive.active = 2;"
                    data-toggle="tooltip" data-placement="bottom" title="Navigate & Select button">
                    &nbsp;
                    <i class="fa fa-hand-pointer-o fa-lg"></i>&nbsp;

                </button>
                <XX class="dropdown pull-right">
                    <button id="navigate" class="btn btn-primary" ng-click="removeSelectedAreas();" data-toggle="tooltip" data-placement="bottom"
                        title="Remove selected area" ng-show="false">
                        <i class="fa fa-times-circle fa-lg"></i> Delete Area
                    </button>
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                        <i class="fa fa-filter"></i> Filter in map
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li style="margin-left: 10px;" ng-repeat="layer in getLayers() | orderBy:'name'">
                            <label>
                                <input type="checkbox" ng-click="toggleMyLayer(layer.id);" ng-model="layersChecked[layer.id]"> {{layer.name}}
                            </label>
                        </li>
                    </ul>
                </XX>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-12">
                <div id="myOSMMap" class="OLMap" style="height: 600px; width: 100%;" ng-style="{height: '600px'}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button id="add-area-button" class="btn btn-primary" ng-click="showCreateAreaForm(); OLControlActive.active = 2;" data-toggle="tooltip"
                    data-placement="bottom" title="You must first select an area on the map">
                    <i class="fa fa-floppy-o fa-lg"></i> Save Group as...
                </button>
            </div>
        </div>
    </div>
</div>