<md-dialog aria-label="List dialog" style="z-index:2000;">
    <md-dialog-content>
        <div>
            <h2>Attention</h2>
        </div>
        <div class="alert alert-warning">
            <i class="fa fa-exclamation-triangle" style="margin-right: 5px;"></i>Are you sure? Query Results will not be saved
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right">
                    <md-button class="btn btn-default" ng-click="cancelDialog()">
                        <span class="glyphicon glyphicon-remove" style="padding-right: 2px;" aria-hidden="true"></span> Cancel
                    </md-button>
                    <md-button class="btn btn-success" ng-click="closeResults()">
                        <span class="glyphicon glyphicon-ok" style="padding-right: 2px;" aria-hidden="true"></span> Yes
                    </md-button>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>