<!--Bootstrap Panel BODY-->
<div>
	<!-- Areas created-->
	<div id="areas-to-add" ng-hide="areasimworkingwith == undefined || areasimworkingwith <= 0">
		<div class="row">
			<div class="col-md-6">
				<!--<div ng-class="{'example-opacity':(F_QMGraph.example.isExample==true)}" ng-show="F_QMGraph.example.isExample==true">
    <h1>Suggested Query...</h1>
</div>-->
			</div>
			<div class="col-md-6">
				<div class="pull-right" style="margin: 20px 0px 10px 0px; color: #317eac; font-size: 125%;">
					Areas ({{areasimworkingwith.values.length}})
					<button class="btn btn-primary addLink" ng-click="addAreaToGraph()">Add Area...
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Areas created-->

	<div id="mynetworkX" ng-style="{'margin-top':'10px',}" ng-class="{'example-opacity':(F_QMGraph.example.isExample==true)}"
	    class="mynetwork"></div>
	<div ng-style="{'padding-top':'10px',}">
		<div class="row">
			<div class="col-md-3 pull-left">
				<button class="btn btn-warning" ng-click="cleanAll()">
					<span class="glyphicon glyphicon-repeat" style="padding-right: 2px;" aria-hidden="true"></span> Clean All
				</button>
			</div>
			<div class="col-md-9 pull-right">
				<!-- /input-group -->
				<div class="input-group">
					<input id="my_query_token" type="text" class="form-control" placeholder="Insert Cellnex token...">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" ng-click="searchQueryConfirmed()">
							<span class="glyphicon glyphicon-play" style="padding-right: 2px;" aria-hidden="true"></span> Launch Query
						</button>
					</span>
				</div>
				<div>
					<label>
						<input id="synthetic_instances" type="checkbox" checked> Synthetic instances
					</label>
				</div>
				<!-- /input-group -->
			</div>
		</div>
	</div>
</div>
</div>
<!--/Bootstrap Panel BODY-->


<!--QUERY GRAPH RESULTS FROM CELLNEX-->
<div id="get-data-results-cellnex">
	<show-data-cellnex>ALGO POR ALLA</show-data-cellnex>
</div>

<!--QUERY GRAPH RESULTS-->
<div id="query-dialogs" ng-controller="getDataResultsCtrl">
	<div id="get-data-results" ng-hide="true">
		<div ng-repeat="sg in subgraphs" ng-hide="gettingData" ng-controller="elemsToShowCtrller">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<label>Total Results: {{bigTotalItems[$index]}}</label>
							<span style="color: #A0A0A0; padding-left: 5px;">({{F_QM.queries.dataquery[F_QM.queries.selected].timeexecution}})</span>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<button class='btn btn-info btn-xs' ng-click="updateAllGraphDataValues()" ng-disabled="gettingData || F_QMGraph.nDS.getIds().length <= 0">
								<i class="fa fa-filter" style="padding-left: 2px;"></i> Apply Filters
							</button>
							<div class="pull-right">
								<label>Select all</label>
								<input type="checkbox" ng-model="elemSelectAllchecked" ng-style="{'margin-left':'5px'}" ng-click="elemSelectAll(sg, rows)">
							</div>
						</div>
					</div>
					<div class="row" ng-style="{'padding-top':'10px'}">
						<div class="col-md-12" ng-show="checkShowDataValues(sg)">
							<table class="showQueryResults">
								<thead>
									<tr>
										<th class="showQueryResults" ng-repeat="k in  sg | filter:filterIsNotArea" ng-hide="F_QMGraph.nDS.get(k).label == undefined">
											<div>
												{{F_QMGraph.nDS.get(k).label}}
												<div ng-show="F_MapManagement.conceptColors.length>0" ng-style="{width: 15, height: 15, 'background-color':getConceptColor(k), 'border': '2px solid black', display: 'inline-block','vertical-align':'middle',}">
												</div>
											</div>
											<select id="form-relations" class="form-control input-sm" ng-model="F_QM.queries.dataproperties.selected[k]" ng-options="property.label for property in F_QM.getDP(F_QMGraph.nDS.get(k).uri) | orderBy:'label'"
											    ng-change="updateAttribute(k, property)">
											</select>
										</th>
										<th class="showQueryResults">
											<label>Visible (Map)</label>
										</th>
									</tr>

								</thead>
								<tbody>
									<tr>
										<td class="showQueryResults" ng-repeat="col in  sg | filter:filterIsNotArea" ng-hide="F_QMGraph.nDS.get(col).label == undefined">
											<div class="form-inline" ng-init="F_QM.queries.resultfilters.selected[col]={params:{}};">
												<label>Filters</label>
												<select id="form-relations" class="form-control input-sm" ng-model="F_QM.queries.resultfilters.selected[col].type">
													<option ng-repeat="r in F_QM.queries.resultfilters.types" value="{{r.label}}" ng-disabled="r.numeric && !isNumericColumn(col)">{{r.label}}</option>
												</select>
												<form class="form-inline">
													<div ng-repeat="rfilter in F_QM.queries.resultfilters.types | filter:{label:F_QM.queries.resultfilters.selected[col].type}"
													    ng-hide="F_QM.queries.resultfilters.selected[col].type == undefined">
														<div ng-repeat="param in rfilter.params">
															<b>{{param}}</b>
															<input class="form-control input-sm" ng-model="F_QM.queries.resultfilters.selected[col].params[param]">
														</div>
													</div>

												</form>
											</div>
										</td>
									</tr>
									<tr ng-repeat="row in rows">
										<td class="showQueryResults" ng-repeat="col in  sg | filter:filterIsNotArea" ng-hide="F_QMGraph.nDS.get(col).label == undefined">
											<label>
												{{row[col].rowvalues}}</label>
										</td>
										<td class="showQueryResults">
											<label>
												<input type="checkbox" ng-model="visible[row.id]" ng-click="elemSelected(row, sg)">
											</label>
										</td>

									</tr>
									<!-- Calculus -->
									<tr>
										<td class="showQueryResults" ng-repeat="col in  sg | filter:filterIsNotArea" ng-hide="F_QMGraph.nDS.get(col).label == undefined">
											<label>Calculus</label>
											<select id="form-relations" class="form-control input-sm" ng-model="calculusChoosen[col].type" ng-change="updateCalculus(col)">
												<option ng-repeat="r in calculusToChoose " value="{{r.label}}" ng-disabled="(r.numeric == true) && !isNumericColumn(col)">{{r.label}}</option>
											</select>
											<span>
												<label>Result:</label>
												{{calculusResult[col].result}} </span>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<pagination id="paginX" total-items="bigTotalItems[$index]" ng-change="pageChanged()" items-per-page="rowsPerPage[$index]"
							    ng-model="currentPage[$index]" max-size="maxPagesOffer[$index]" class="pagination-sm" boundary-links="true" rotate="false"
							    num-pages="numPages[$index]"></pagination>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="pull-right">
								<button type="button" class="btn btn-success btn-xs" ng-click="exportTable(sg)">
									<span class="glyphicon glyphicon-cloud-download" style="padding-left: 2px;" aria-hidden="true"></span> Export CSV
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/QUERY GRAPH RESULTS-->