<div class="panel panel-primary">
    <div class="panel-heading">
        <b>Indicators</b>
    </div>
    <div class="panel-body">
        <!-- Indicators -->
        <div id="tabIndicators"></div>
        <div id="indicators"></div>
        <div id="tab-indicators" ng-controller="IndicatorsCategCtrl">
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline">
                        Area
                        <select id="form-relations" class="form-control input-sm" ng-model="areasToChoose.value" ng-options="v for v in areasToChoose.values"
                            style="margin: 10px 10px;">
                        </select>
                    </form>
                </div>
            </div>

            <div id="import-indicator" ng-controller="importIndicatorsFileCtrl">
                <div>
                    <button type="button" class="btn btn-success" ng-click="openDialog('#import-indicators-form')">Import Indicators...
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="removeIndicators()">Remove Indicator</button>
                </div>

                <div id="import-indicators-form" ng-show="import_indicator_showable">
                    <!-- 			<div> -->
                    <!-- 				<label>Import Indicators</label> -->
                    <!-- 			</div> -->
                    <div>
                        <!-- 			<div id="indicators-file-uploader">Upload</div> -->
                        <div class="form-group">
                            <label for="exampleInputFile">Select Anchor Area</label>
                            <select id="form-relations" class="form-control" style="width: auto;" ng-model="indicatorImportParams.anchor_area" ng-options="iaa for iaa in indicatorAnchorAreas | orderBy:'toString()'">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Select Indicator Descriptor</label>
                            <select id="form-relations" class="form-control" style="width: auto;" ng-model="indicatorImportParams.indicator_descriptor"
                                ng-options="id.label for id in indicatorDescriptors | orderBy:'label'">
                            </select>
                        </div>
                        <!-- 				<div class="form-group"> -->
                        <div>
                            <label>Select Input File...</label>
                            <div>
                                <!-- 						<input id="fileupload" type="file" name="files[]" class="btn"> -->
                                <input id="fileupload" class="hidden" type="file" name="files[]">
                                <label class="btn btn-info" for="fileupload">Click to Select File</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>

                <div ng-style="{padding : '10px 0px 10px 0px' }">
                    <tabset vertical="false" type="pills">
                        <tab heading="Hierarchy" deselect="selectAllNgGrid(gridApiHierarchy, false)">
                            <div class="row">
                                <div class="col-md-3 scollIndicators">
                                    <div data-angular-treeview="true" data-tree-id="OntCat" data-tree-model="treedata" data-node-id="id" data-node-label="label"
                                        data-node-children="children" style="overflow: hidden;"></div>
                                </div>
                                <div class="col-md-9">
                                    <!-- currentNode.label: {{OntCat.currentNode.label}} <br> currentNode.id: {{OntCat.currentNode.id}} -->
                                    <!-- 					<div> -->
                                    <!-- 						<label><input type="checkbox" value="" -->
                                    <!-- 							ng-model="categoryVisualized.checboxSelectAll[categoryVisualized.selected]" -->
                                    <!-- 							ng-change="selectAllNgGrid(gridApiHierarchy, categoryVisualized.checboxSelectAll[categoryVisualized.selected])">Select -->
                                    <!-- 							All</label> -->
                                    <!-- 					</div> -->
                                    <div class="gridStyleIndicatorsHierarchy" style="margin: 10px 0;" ui-grid="gridOptionsHierarchy" ui-grid-edit ui-grid-selection></div>
                                </div>
                            </div>

                        </tab>
                        <tab heading="Associated Concepts" select="getIndicators();" deselect="selectAllNgGrid(gridApiByAC, false)">
                            <div ng-include src="'tab-indicators-groupbyac.html'"></div>
                        </tab>
                        <tab heading="All" select="showAllIndicators()" deselect="selectAllNgGrid(gridApiAll, false)">
                            <div ng-include src="'tab-indicators-all.html'"></div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="min-width: 624px;">
                    <img src="http://growsmarter.bsc.es:8080/stable-static-content/animacion.gif" style="display: block; margin: 0 auto;">
                </div>
            </div>
        </div>
        <!-- /Indicators -->

    </div>
</div>